.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 250px;
  background-color: hsl(0, 0%, 100%);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 9px 34px -18px #4d4d4d;
  box-shadow: 0px 9px 34px -18px #4d4d4d;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}

.card h1 {
  font-size: 20px;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
}

.card p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  text-align: center;
}
